.banner{
    max-width: 50rem;
}
.jumbotron-main{
    background:white;
}
.jumbotron-head{
    /*margin-top: 1rem;*/
}
.bg-grey{
    background: #f7f7f7;
}
.title-line{
    width: 15%;
    border-top:1px solid #909599 ;
}
.nav-collapse-bg{
    background: #fafafa;
}
.nav-collapse-border{
    border-bottom: 0 solid gray;
}
@media (max-width: 991px) {
    .nav-collapse-border{
        margin-bottom: 15px;
        padding-bottom: 15px;
        display: block;
        border-bottom: 1px solid #f2f2f2;
    }
}