@charset "utf-8";
//生成背景色和悬浮变暗的模块
@mixin bg-variant($parent, $color) {
  #{$parent} {
    background-color: $color !important;
  }
  a#{$parent},
  button#{$parent} {
    @include hover-focus {
      background-color: darken($color, 10%) !important;
      //链接和按钮悬浮时颜色变暗10%
    }
  }
}

@mixin bg-gradient-variant($parent, $color) {
  #{$parent} {
    background: $color linear-gradient(180deg,
            mix($body-bg, $color, 15%), $color)
    //15%是第一个颜色的比例，180度是从上到下 水平方向上重复
    repeat-x !important;
    //
  }
}
